/*
Project Name: Relaxr
Client: Relaxr
Author: Dan Pelensky
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,800);

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}


.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
        color: #000;
        font-size: 12px;
        line-height: 1.4;
        font-family: 'Open Sans', sans-serif;
        background: #f0efef;

}


/******************************************
/* LAYOUT
/*******************************************/


.landing header {
    width: 100%;
    margin: auto;
    height: 500px;
    background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
    background-size: cover;
    padding: none;
    margin: none;
    color: white;
    font-size: 24px;

}

.hidden {
    display: none !important;
}

.benefits {
    background: #f0efef;
    padding: 20px;
}

.testimonial {
    background: url(../images/testimonial_bg.jpg) no-repeat center top rgb(134,141,157);
    text-align: center;
}
 
header {
    background: #033048;
}

footer {
    background: #606161;
    text-align: center;
    min-width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.landing h1 {
    font-weight: 800;
    margin-bottom: 90px;
    margin-top: 0;
    margin-left: 30px;
}

.landing h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.get-it-now {
    text-align: center;
}

.button1 {
    background-color: #f9e42e;
    color: #121212;
    font-size: 14px;
    font-weight: 800;
    border-radius: 5px;
    padding: 7px 30px;
    cursor:pointer; /* we need this because we lose the pointer when we make an a tag display block */
}

.landing h3 {
    font-weight: 600;
    font-size: 20px;
    text-indent: 60px;
    color: #121212;
}

.benefits p, .benefits li {
    font-size: 13px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    text-indent: 60px;
    list-style-position: inside;
    color: #606161;
}

.testimonial {
    color: white;
    font-size: 18px;
    padding: 30px;
}

.testimonial p {
    font-style: italic;
    margin: 0;
    padding: 0;
}

.testimonial span {
    font-weight: 600;
}

.sign-up-now {
    text-align: center;
    background: #f9e42e;
    padding: 2em;
    min-width: 100%;
}

.button2 {
    background-color: #033048;
    color: white;
    font-size: 12px;
    font-weight: 800;
    border-radius: 5px;
    padding: 7px 30px;
    cursor:pointer; /* we need this because we lose the pointer when we make an a tag display block */
}

h4 {
    color: #f9e42e;
    font-weight: 800;
    font-size: 24px;
}

footer img {
    padding: 20px;
}

footer p {
    color: white;
    font-size: 9px;
    font-weight: 600;
}

.logo {
    float: left;
    font-size: 2.25em;
    line-height: 1;
    font-weight: 800;
    color: white;
}

nav {
    text-align: right;
    padding-top: 0.625em;
}

nav li {
    list-style-type: none;
    display: inline;
    font-size: 1.5em;
    line-height: 1;
    vertical-align: middle;
    padding: 0 2em;
    font-weight: 600;    
}

nav li a {
    font-weight: 600;
    color: #f9e42e;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

.header-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 3em;
}


.article-container {
    width: 70%;
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.adunit {
    width: 20%;
    float: left;
    margin-left: 5%;
}

.blog-articles {
    margin-bottom: 2em;
}

.categories li {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 1.5em;
    text-decoration: none;
    list-style: none;
}

.categories a{
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.blog-articles h2 {
    font-weight: 600;
    font-size: 2.5em;
}

.blog-articles p {
    font-weight: 300;
    font-size: 1.5em;
}

.blog-articles a {
    font-weight: 600;
    font-size: 1.5em;
    float: right;
    text-decoration: none;
    color: black;
}

.adunit h3 {
    font-weight: 800;
    font-size: 2em;
}

.adunit p {
    font-weight: 300;
    font-size: 1.375em;
}

.about a {
    font-weight: 600;
    font-size: 1.375em;
    text-decoration: none;
    color: black;
}

li {
    text-align: left;
}

img {
    max-width: 100%;
}

.blog-articles p:first-letter {
    float: left; 
    font-size: 3.5em; 
    font-weight: 600;
    line-height: 1em; 
    padding-top: 4px; 
    padding-right: 8px; 
    padding-left: 3px;
}

a:hover {
    color: #606161;
}

